### optional and required python packages

## for the data set generation (LIBSVM file format)
scikit-learn
humanize

# additionally for generating ARFF files
numpy
arff
pandas

# additionally for generation CSV files
# numpy

# for plotting the generated data set (only available if #features <= 3)
matplotlib

## for the performance tracker parser
# matplotlib
pyyaml
pint

## for the performance analysis
# scikit-learn
wrapt-timeout-decorator